<div class="mg-border-left mg-row-border-top controls-row"></div>
    <!--
        SAMPLE RATE
    -->
    <div id="sample-rate" class="grid-default mg-row-border-top controls-row">
        <div class="header exp infos" data-infos="16">
            <div class="header-shortcut hidden">[C,V]</div>
            <div>sample rate</div>
        </div>
        <div class="controls">
            <svg class="knob" id="cc-16"></svg>
        </div>
    </div>
    <!--
        FILTER
    -->
    <div id="filter" class="grid-default mg-row-border-top controls-row">
        <div class="header exp infos" data-infos="17">
            <div class="header-shortcut hidden">[O]</div>
            <div>filter</div>
        </div>
        <div class="controls">
            <svg class="knob" id="cc-17"></svg>
        </div>
    </div>
    <!--
        BITS
    -->
    <div id="bits" class="grid-default mg-row-border-top controls-row">
        <div class="header exp infos" data-infos="18">
            <div class="header-shortcut hidden">[F,G]</div>
            <div>bits</div>
        </div>
        <div class="controls">
            <svg class="knob" id="cc-18"></svg>
        </div>
    </div>
    <!--
        STUTTER
    -->
    <div id="stutter" class="grid-default mg-row-border-top controls-row">
        <div class="header exp infos" data-infos="19">
            <div class="header-shortcut hidden">[Y,X]</div>
            <div>stutter</div>
        </div>
        <div class="controls">
            <svg class="knob" id="cc-19"></svg>
        </div>
    </div>
    <!--
        SEQUENCER
    -->
    <div id="sequencer" class="grid-default mg-row-border-top controls-row">
        <div class="header exp infos" data-infos="20">
            <div class="header-shortcut hidden">[K,L]</div>
            <div>sequencer</div>
        </div>
        <div class="controls">
            <svg class="knob" id="cc-20"></svg>
        </div>
    </div>
    <!--
        SEQUENCER MULT
    -->
    <div id="sequencer-mult" class="grid-default mg-row-border-top controls-row">
        <div class="header exp infos" data-infos="21">
            <div class="header-shortcut hidden">[TODO]</div>
            <div>sequencer mult</div>
        </div>
        <div class="controls">
            <svg class="knob" id="cc-21"></svg>
        </div>
    </div>
<div class="mg-border-right mg-row-border-top controls-row"></div>

<div class="mg-border-left controls-row"></div>
    <!--
        STEP 1
    -->
    <div id="step-1" class="grid-default controls-row">
        <div class="header exp infos" data-infos="22">
            <div class="header-shortcut hidden">[TODO]</div>
            <div>step 1</div>
        </div>
        <div class="controls">
            <svg class="knob" id="cc-22"></svg>
        </div>
    </div>
    <!--
        STEP 2
    -->
    <div id="step-2" class="grid-default controls-row">
        <div class="header exp infos" data-infos="23">
            <div class="header-shortcut hidden">[TODO]</div>
            <div>step 2</div>
        </div>
        <div class="controls">
            <svg class="knob" id="cc-23"></svg>
        </div>
    </div>
    <!--
        STEP 3
    -->
    <div id="step-3" class="grid-default controls-row">
        <div class="header exp infos" data-infos="24">
            <div class="header-shortcut hidden">[TODO]</div>
            <div>step 3</div>
        </div>
        <div class="controls">
            <svg class="knob" id="cc-24"></svg>
        </div>
    </div>
    <!--
        STEP 4
    -->
    <div id="step-4" class="grid-default controls-row">
        <div class="header exp infos" data-infos="25">
            <div class="header-shortcut hidden">[TODO]</div>
            <div>step 4</div>
        </div>
        <div class="controls">
            <svg class="knob" id="cc-25"></svg>
        </div>
    </div>
    <!--
        STEP 5
    -->
    <div id="step-5" class="grid-default controls-row">
        <div class="header exp infos" data-infos="26">
            <div class="header-shortcut hidden">[TODO]</div>
            <div>step 5</div>
        </div>
        <div class="controls">
            <svg class="knob" id="cc-26"></svg>
        </div>
    </div>
    <!--
        STEP 6
    -->
    <div id="step-6" class="grid-default controls-row">
        <div class="header exp infos" data-infos="27">
            <div class="header-shortcut hidden">[TODO]</div>
            <div>step 6</div>
        </div>
        <div class="controls">
            <svg class="knob" id="cc-27"></svg>
        </div>
    </div>
<div class="mg-border-right"></div>

<div class="mg-border-left mg-row-border-bottom pb-5"></div>
    <!--
        TAP
    -->
    <div id="tap" class="grid-default mg-last-row mg-row-border-bottom pb-5">
        <div class="header infos" data-infos="28">
            <div class="header-shortcut hidden">[T]</div>
            <div>tap</div>
        </div>
        <div class="controls">
            <div class="stompswitch">
                <div id="cc-28-127" class="swm">
                    <i id="cc-28-127-off" class="fas fa-circle" aria-hidden="true" title="click to switch on"></i>
                    <i id="cc-28-127-on" class="sw-off sw-on fas fa-circle" aria-hidden="true" title="click to switch off"></i>
                </div>
            </div>
        </div>
    </div>
    <!--
        TEMPO
    -->
    <div id="tempo" class="grid-default mg-last-row mg-row-border-bottom controls-row pb-5">
        <div class="header infos" data-infos="15">
            <div id="tempo-label" title="click to toggle between [ms] and [BPM]">tempo MS</div>
        </div>
        <div class="controls">
            <svg class="knob" id="cc-15"></svg>
        </div>
    </div>
    <!--
        SEQUENCER TYPE
    -->
    <div id="sequencer-type" class="grid-default mg-last-row mg-row-border-bottom controls-row pb-5">
        <div class="header exp infos" data-infos="29">
            <div>sequencer type</div>
        </div>
        <div id="cc-29-options" class="grid-3x1 controls-options-grid">
            <div id="cc-29-0" class="bt">PITCH</div>
            <div id="cc-29-63" class="bt">SAMPLE RATE</div>
            <div id="cc-29-127" class="bt">FILTER</div>
        </div>
    </div>
    <!--
        STUTTER HOLD
    -->
    <div id="env-type" class="grid-default mg-last-row mg-row-border-bottom controls-row pb-5">
        <div class="header infos" data-infos="31">
            <div>stutter hold</div>
        </div>
        <div id="cc-31-options" class="grid-2x1 controls-options-grid">
            <div id="cc-31-0" class="bt">OFF</div>
            <div id="cc-31-127" class="bt">ON</div>
        </div>
    </div>
    <!--
        EXP
    -->
    <div id="exp-controler" class="grid-default mg-last-row mg-row-border-bottom controls-row pb-5">
        <div class="header exp infos" data-infos="4">
            <div>EXP</div>
        </div>
        <div class="exp_wrapper">
            <div id="exp-a1"></div>
            <div id="exp-a2" class="slider-combo">
                <svg id="cc-4" class="slider"></svg>
            </div>
            <div id="exp-close" class="exp-switch"><div class="btx" id="exp-close-bt" title="Click to switch to edit the EXP (toe-down) values">toe</div></div>
            <div id="exp-open">heel</div>
            <div id="cc-4-value" class="slider-value"></div>
            <div id="exp-copy" class="btx" title="Click to copy the heel (normal) values to the toe values.">copy</div>
        </div>
    </div>
    <!--
        BYPASS
    -->
    <div id="bypass" class="grid-default mg-last-row mg-row-border-bottom controls-row pb-5">
        <div class="header infos" data-infos="14">
            <div class="header-shortcut hidden">[SPACE]</div>
            <div>bypass</div>
        </div>
        <div class="controls">
            <div class="stompswitch">
                <div id="cc-14-127" class="sw"><i class="fas fa-circle" aria-hidden="true" title="click to switch on"></i></div>
                <div id="cc-14-0" class="sw sw-off sw-on"><i class="fas fa-circle" aria-hidden="true" title="click to switch off"></i></div>
            </div>
        </div>
    </div>
<div class="mg-border-right mg-last-row mg-row-border-bottom controls-row pb-5"></div>