html {
    color: #a0a0a0; /* default text color */

    --body-bg-color: #111111;

    --messages-bg: #ffffff70;
    --messages-color: #424242;
    --messages-border: #999;

    --value: #f9d000;
    --dialog-link: #fff;
    --panel-link: blue;

    --knob-back-border: #999;
    --knob-value: #ddd;

    --body-bg-from: #202023;
    --body-bg-to: #3E3E46;

    --title-text: #fff;
    --header-text: #a0a0a0;
    --header-shortcut-text: #666;

    --control-label: #ccc;

    --menu-icon: #dddddd;
    --menu-text: #dddddd;
    --menu-text-hover: #fff;

    --menu-link: #dddddd;

    --preset-icon: #61410c;

    --bt-color: #ccc;
    --bt-border: #ccc;
    --bt-hover-color: #fff;
    --bt-hover-bg-color: rgb(255, 128, 128);
    --bt-on-color: #fff;
    --bt-on-bg-color: red;
    --bt-on-border: #f97000;

    --sw-color: #706c58;
    --sw-on-color: #fff;
    --sw-on-shadow-color: #1d1d01;

    --inset-shadow-color: #fff;

    --select-color: #fff;
    --select-bg: #c3c3c3;
    --select-border: #fff;

    --on-color: #fff;
    --midi-on: yellow;
    --paused: #706c58;
    --running: red;

    --option-panel-header-color: #333;
    --option-panel-header-border: #333;

}

a {
    color: var(--menu-link);
}

.glow {
    /*color: #ddf6ff!important;*/
    color: yellow!important;
    /*color: #f9d000!important;*/
    text-shadow: 0 0 12px lightyellow;
    /*text-shadow: 0 0 8px #798c0e;*/
}

#main-grid {
    background-color: #000;
    background-image: url("../img/bg-logo-opacity5.png"), linear-gradient(to right, #bbb, #000 1%, #000 99%, #bbb);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

#main-grid > div {
    background: transparent;
}

.mg-row-border-top {
    border-top: 1px solid #f1d09c;
}
.mg-row-border-bottom {
    border-bottom: 1px solid #bc9b65;
}

.controls-row .header {
    color: var(--control-label);
}

.menu-entry a:hover {
    color: var(--menu-text-hover);
}

/*noinspection CssUnusedSymbol*/
.knob-bg {
    fill: url("#grad2");
    stroke: #fff;
}

/*noinspection CssUnusedSymbol*/
.knob-value {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    stroke: none;
    fill: var(--knob-value);
}

/*noinspection CssUnusedSymbol*/
.knob-cursor {
    stroke-linecap: butt;
}

.slider-value {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 125%;
    color: #fff;
}
